{% extends 'base.html.twig' %}

{% block title %}Fighter index{% endblock %}

{% block body %}
    <h1>Fighter index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Strength</th>
                <th>Intelligence</th>
                <th>Pv</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>Killed_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fighter in fighters %}
            <tr>
                <td>{{ fighter.id }}</td>
                <td>{{ fighter.name }}</td>
                <td>{{ fighter.strength }}</td>
                <td>{{ fighter.intelligence }}</td>
                <td>{{ fighter.pv }}</td>
                <td>{{ fighter.createdAt ? fighter.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ fighter.updatedAt ? fighter.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ fighter.killedAt ? fighter.killedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('fighter_show', {'id': fighter.id}) }}">show</a>
                    <a href="{{ path('fighter_edit', {'id': fighter.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('fighter_new') }}">Create new</a>
{% endblock %}
