{% extends 'base.html.twig' %}

{% block title %}Liste des combattants{% endblock %}

{% block body %}

    <div class="nav-scroller bg-white box-shadow mb-4">
        <nav class="nav nav-underline">
            <a class="nav-link" href="{{ path('fighter_new') }}">Nouveau combattant</a>
        </nav>
    </div>

    <h1><strong style="font-size: 70px">⚔</strong>️ Liste des combattants️</h1>

    <div class="table-responsive mt-1 mb-5">
        <table class="table table-bordered table-striped" id="datatable">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Strength</th>
                <th>Intelligence</th>
                <th>Pv</th>
                <th>Killed_at</th>
                <th>Created at</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for fighter in fighters %}
                <tr>
                    <td>{{ fighter.id }}</td>
                    <td><a href="{{ path('fighter_show', {'id': fighter.id}) }}">{{ fighter.name }}</a></td>
                    <td>{{ fighter.strength }}</td>
                    <td>{{ fighter.intelligence }}</td>
                    <td>{{ fighter.pv }}</td>
                    <td>{{ fighter.killedAt ? fighter.killedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ fighter.createdAt ? fighter.createdAt|date('j F H:i') : '' }}</td>
                    <td>
                        <a class="btn btn-secondary" href="{{ path('fighter_show', {'id': fighter.id}) }}"><i class="fas fa-eye"></i></a>
                        <a class="btn btn-primary" href="{{ path('fighter_edit', {'id': fighter.id}) }}"><i class="fas fa-edit"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
