{% extends 'base.html.twig' %}

{% block title %}Fighter{% endblock %}

{% block body %}
    <h1>Fighter</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fighter.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ fighter.name }}</td>
            </tr>
            <tr>
                <th>Strength</th>
                <td>{{ fighter.strength }}</td>
            </tr>
            <tr>
                <th>Intelligence</th>
                <td>{{ fighter.intelligence }}</td>
            </tr>
            <tr>
                <th>Pv</th>
                <td>{{ fighter.pv }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ fighter.createdAt ? fighter.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ fighter.updatedAt ? fighter.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Killed_at</th>
                <td>{{ fighter.killedAt ? fighter.killedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('fighter_index') }}">back to list</a>

    <a href="{{ path('fighter_edit', {'id': fighter.id}) }}">edit</a>

    {{ include('fighter/_delete_form.html.twig') }}
{% endblock %}
