{% extends 'base.html.twig' %}

{% block title %}{{ fighter.name }}{% endblock %}

{% block body %}
    <h1>🧝🏾‍♀️ {{ fighter.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ fighter.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ fighter.name }}</td>
            </tr>
            <tr>
                <th>Force</th>
                <td>{{ fighter.strength }}</td>
            </tr>
            <tr>
                <th>Intelligence</th>
                <td>{{ fighter.intelligence }}</td>
            </tr>
            <tr>
                <th>PV</th>
                <td>{{ fighter.pv }}</td>
            </tr>
            <tr>
                <th>Race</th>
                <td>{{ fighter.type }}</td>
            </tr>
            <tr>
                <th>Création</th>
                <td>{{ fighter.createdAt ? fighter.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modification</th>
                <td>{{ fighter.updatedAt ? fighter.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Décès</th>
                <td>{{ fighter.killedAt ? fighter.killedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('fighter_index') }}" class="btn btn-primary" role="button">Retour à la liste</a>

    <a class="btn btn-warning" href="{{ path('fighter_edit', {'slug': fighter.slug}) }}">Editer</a>

    {{ include('fighter/_delete_form.html.twig') }}
{% endblock %}
