{% extends 'base.html.twig' %}

{% block title %}Combattant index{% endblock %}

{% block body %}
    <h1>Combattant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Strength</th>
                <th>Intelligence</th>
                <th>Pv</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>Kill_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for combattant in combattants %}
            <tr>
                <td>{{ combattant.id }}</td>
                <td>{{ combattant.name }}</td>
                <td>{{ combattant.strength }}</td>
                <td>{{ combattant.intelligence }}</td>
                <td>{{ combattant.pv }}</td>
                <td>{{ combattant.createdAt ? combattant.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ combattant.updatedAt ? combattant.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ combattant.killAt ? combattant.killAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('combattant_show', {'id': combattant.id}) }}">show</a>
                    <a href="{{ path('combattant_edit', {'id': combattant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('combattant_new') }}">Create new</a>
{% endblock %}
